<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>RjayStore</h1>
    <form action="/save" method="post">
        <label for="name">name</label>
        <input type="text" name="name" placeholder="name" required>
        <br>
        <label for="description">description</label>
        <input type="text" name="description" placeholder="description" required>
        <br>
        <label for="price">price</label>
        <input type="text" name="price" placeholder="price" required>
        <br>
        <label for="quantity">quantity</label>
        <input type="text" name="quantity" placeholder="quantity" required>
        <br>
        <input type="submit" value="Save" >
    </form>


</body>
</html>